@page
@using LogyxAccounting.Models
@using DevExpress.Spreadsheet
@using System.IO
@inject IWebHostEnvironment env



<head>
    <link href="~/css/devextreme/theme.base.css" rel="stylesheet" />
  @*   <link href="~/lib/dx.light.css" rel="stylesheet" /> *@
    <link href="~/lib/dx-aspnetcore-spreadsheet.css" rel="stylesheet" />
    <script src="~/lib/devextreme/js/dx.all.js"></script>
    <script src="~/lib/devextreme/js/dx-aspnetcore-spreadsheet.js"></script>
</head>


<body>
    
</body>